[submodule "Curriculum-thel-vadam"]
	path = Curriculum-thel-vadam
	url = https://github.com/KerinR432/PaginasWebs.git
[submodule "Universo_Halo_pag_web_Mejorarla"]
	path = Universo_Halo_pag_web_Mejorarla
	url = https://github.com/KerinR432/PaginasWebs.git
[submodule "Universo_Halo_pag_web_(Kerin_Aguilera)"]
	path = Universo_Halo_pag_web_(Kerin_Aguilera)
	url = https://github.com/KerinR432/PaginasWebs.git
