form{
    border: 1px solid black;
    padding: 10px;
    background-image: linear-gradient(rgb(216, 61, 61),rgb(241, 175, 52),rgb(255, 255, 0));
    box-shadow:  .5rem .7rem .9rem .1rem cornflowerblue;
}
fieldset{
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;


}
legend{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: rgb(32, 31, 26) 2rem .3rem .5rem ;
}