body{
    background-color: #FB773C;
}
.cabecera{
    background-color: #101113;
    padding: 20px;  
    text-align: center;
}
.carousel-item img{
    height: 850px !important;
    object-fit: cover;
}
.card{
    width: 280px !important;
}

.card-body
{
    height: 100% !important;
}
.card img{
    height: 380px !important;
}
footer{
    height: 100% !important;
}